@import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");

header .header-banner {
  width: 100%;
  height: calc(100vh - 500px);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: table;
}

header h1 {
  font-family: "Gentium Basic", serif;
  font-weight: 700;
  font-style: italic;
  font-size: 60px;
  color: #ffffff;
  line-height: 70px;
  text-transform: uppercase;
  text-shadow: 2px 2px 8px #000000;
}

header h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 5px;
  color: cadetblue;
  text-transform: uppercase;
}

header .logo {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 10px 0 20px 0;
}

header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

header nav ul {
  display: block;
  margin: 0 auto;
  text-align: center; /*IE*/
  width: fit-content;
}

header nav ul li {
  display: inline-block;
  padding: 16px 16px;
}

nav ul li a {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 3px;
  color: #172029;
  text-transform: uppercase;
  text-decoration: none;
}

main p {
  text-align: left;
  padding: 0%;
}

.flex-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
footer {
  width: calc(100% - 80px);
  padding: 40px 40px;
  background-color: #98a0a8;
  margin-top: 20px;
  overflow: hidden;
}

.flex-container1 {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: center;
  padding: 10%;
}

.gallery-image1 {
  display: none;
}

footer .contact {
  width: fit-content;
  align-items: left;
  padding-left: 0px;
  color: rgb(22, 18, 75);
}

.footer-sm {
  width: 32px;
  align-items: right;
  padding-right: 20px;
}

.footer-sm img {
  display: flexbox;
  width: 100%;
  margin-bottom: 5px;
  padding-right: 20px;
}

hr {
  color: #4f5663;
  border-width: 2px;
  width: 30%;
  margin: 0 auto;
  margin-bottom: 5px;
}

.gallery-h2 {
  font-family: "Gentium Basic", sans-serif;
  font-weight: 600;
  font-size: 28px;
  letter-spacing: 2px;
  padding: 0px;
  color: #3a383d;
  text-transform: uppercase;
  text-align: center;
}

.gallery-image {
  margin: 10px;
  position: relative;
  text-align: center;
  -webkit-flex-basis: 300px;
  -moz-flex-basis: 300px;
  flex-basis: 300px;
}

.gallery-image img {
  border-radius: 50%;
  padding: 20px;
  width: 300px;
}

.post-header {
  /*kujundus*/

  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 3px;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
  text-shadow: 3px 3px 9px #111111;

  /*positsioneerimine*/

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gallery-links {
  display: flex;
  flex-flow: row wrap;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  display: -moz-flex;
  -moz-flex-flow: row wrap;
  justify-content: center;
  -o-flex-flow: row wrap;
  justify-content: center;
}

@media only screen and (min-width: 950px) {
  .gallery-image1 {
    display: block;
    float: right;
    margin: 20px 80px;
    width: 50px;
  }
  .flex-container1 {
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: center;
    padding: 10px 220px;
  }
}
